
{% extends 'base.html' %}


{% block content %}

<style type="text/css">
    html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.h3{
    text-align: center;
}
</style>

<main class="form-signin w-100 m-auto">
  <form method="POST" class="form-signin">{% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">¿Olvidaste tu contraseña?</h1>
    <div class="form-floating">
        <input name="email" class="form-control" placeholder="Ingresa tu email" type="email" id="id_email" required="true">
        <label for="id_email">Email</label>
      </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Enviar email de recuperación</button>  
  </form>
</main>


{% endblock %}