{% extends 'base.html' %}

{% block content %}

<div class="container">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
			Enviamos un email con las instrucciones para cambiar tu contraseña al correo electronico que ingresaste.
		    Deberias recibirlo en breves.
		  </p>
		  <p class="m-auto p-2">
			Si no recibes un email, porfavor confira que hayas ingresado el email con el que te registraste
		    o revisa la carpeta de spam.
		  </p>
		  <p class="m-auto p-2">Ahora puedes <a href="{% url 'login' %}">iniciar sesión</a> o <a href="{% url 'home' %}">volver a la página principal</a></p>
	</div>
</div>

{% endblock %}