{% load static %}
<title>MEDIAmbiente</title>

<style type="text/css">
    header {
      background-color: white !important;
    }
    .form-control-dark {
    border-color: var(--bs-gray);
    }

    .text-small {
    font-size: 100%;
    }

    .dropdown-toggle:not(:focus) {
    outline: 0;
    }
    .text {
      margin-right: 10px;
    }

    .search-bar{
      max-width: 500px;
      width: 100%;
    }
</style>


<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a class="nav-link px-2 link-secondary">MEDIAmbiente</a></li>
          <li><a href="{% url 'home'%}" class="nav-link px-2 link-body-emphasis">Página principal</a></li>
          <li><a href="#" class="nav-link px-2 link-body-emphasis">Preguntas</a></li>
          <li><a href="#" class="nav-link px-2 link-body-emphasis">Ranking</a></li>
        </ul>

<!--Para que solo aparezca esta barra de busqueda en home o blogs-->
{% if '/blog/' in request.get_full_path  or '/home/' in request.get_full_path %} 
        <form class="search-bar col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" method="get">
          <input type="text" class="form-control" placeholder="Buscar blogs..." id="id_q" name="q">
        </form>

{% endif%}


{% if request.user.is_authenticated %}

        <p class="text d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">Hola, {{request.user.username}}</p>
        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{request.user.profile_pic.url}}" alt="mdo" width="40" height="40" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="{% url 'profile'%}">Perfil</a></li>
            <li><a class="dropdown-item" href="{% url 'account'%}">Ajustes</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>

{% else %}

        <div class="dropdown text-end">
          <a href="{% url 'home' %}" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{% static 'default_pic.jpg' %}" alt="mdo" width="40" height="40" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="{% url 'login' %}">Iniciar sesión</a></li>
            <li><a class="dropdown-item" href="{% url 'register' %}">Registrate</a></li>

  {% endif %}
            </ul>
        </div>
      </div>
    </div>
  </header>

  <script type="text/javascript">
    document.getElementById("id_q").value = "{{query}}"
  </script>